
.card-head{
    height: 50vh;
    display: flex;
    align-items: center;
   color: rgb(186, 245, 225);
}
#card-head{
box-shadow: 1px 1px 5px  rgb(0, 0, 0);
}

.card-head-image{

background-color: aqua;   
    background-size: cover;
    width: 300px;
    height: 100px;
   
   
}
.card-image{
   
   background-color:rgb(240, 241, 241) ;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px lightgrey;
    
}
.card-title{
   /* background-color: rgb(211, 212, 212) ; */
   width: 37vw;
   max-height: 10vh;
   color : rgb(47, 86, 72);
   
}

/* .card-date-tag{
    width: 37vw;
    max-height: 10vh;
   
    display: flex; 
    
    justify-content: space-between;
    align-items: center;
 
} */

.card-data-tag-text{
    color : rgb(250, 131, 131);
  font-family:serif;
  font-size:0.9rem;
  font-weight: bold;
  width: auto;

}

.card-data-tag-des{
    
    font-family:sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    width: 35rem;
    height: 11rem;
  color:rgb(57, 141, 138);
    
}
.card-data-tag-des-text{
  
    overflow: auto;  
    height: 100%;
}

.button-user{
    color: aqua;
    background-color: antiquewhite;
}