.categories{
    background-color: green;
    padding:2%;
}
.frontcard-head{
height: 60vh;
background-color: aqua;
display: flex;
justify-content: space-evenly;
flex-wrap:wrap;
}

.frontcard-head-inner{
    width: 20%;
    background-color: aquamarine;
}